header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    margin-bottom: 64px;
}

.btnMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 46px;
    row-gap: 12px;
    background: transparent;
    border: none;
}

.btnMenu span{
    width: 100%;
    height: 3px;
    display: block;
    background: var(--primary);
    border-radius: 6px;
}

.btnMenu span:last-child{
    width: 45%;
}