.movie{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}

.rating{
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.movie span, .rating strong, .movie button{
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.rating strong{
    font-weight: 600;
}

.movie h1{
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
}

.movie p{
    width: 100%;
    max-width: 800px;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
}

.movie button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 70px;
    margin-top: 20px;
    padding: 0 42px;
    font-weight: 500;
    border-radius: 20px;
    background: var(--linear);
    box-shadow: 0px 3px 50px rgb(0, 0, 0, 0.160784);
    transition: filter 0.6s;
    cursor: pointer;
}

.movie button:hover{
    filter: brightness(0.9);
}

/* MEDIA QUERIES */
@media(max-width: 768px){
    .feature_movie h1{
        font-size: 2.5rem;
        line-height: 3.25rem;
    }

    .movie button{
        width: 240px;
        height: 60px;
    }

    .movie button img{
        width: 16px;
        height: auto;
    }
}

@media(max-width: 650px){
    .movie h1{
        font-size: 3rem;
        line-height: 2.5rem;
    }

    .movie{
        row-gap: 8px;
    }
    .movie p{
        font-size: 1rem;
        line-height: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        line-clamp: 6;
        -webkit-box-orient: vertical;
    }

    .movie button{
        width: 175px;
        height: 48px;
        font-size: 0.875rem;
        padding: 0 32px;
    }

    .movie button img{
        width: 14px;
    }
}